name: release

on:
  push:
    tags:
    - "v*.*.*"

jobs:
  # test:
  #   runs-on: ubuntu-latest
  #   env:
  #     PROJECT_NAME: "flintlock_release_e2e"
  #   steps:
  #   - uses: actions/checkout@v2
  #   - name: Run e2es
  #     env:
  #       METAL_AUTH_TOKEN: ${{ secrets.METAL_AUTH_TOKEN }}
  #     run: |
  #       pip3 install -r test/tools/requirements.txt
  #       test/tools/run.py run-e2e -o ${{ secrets.EQUINIX_ORG_ID }} -p ${{ env.PROJECT_NAME }}
  #   - name: Cleanup project
  #     uses: weaveworks/metal-janitor-action@27a0594c5c92d85585b553fc0c5ef2a3de7bec95
  #     with:
  #       metal_auth_token: ${{ secrets.METAL_AUTH_TOKEN }}
  #       project_names: ${{ env.PROJECT_NAME }}
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.18
    - name: Build binaries
      run: make build-release
    - name: Store flintlock binaries
      uses: actions/upload-artifact@v2
      with:
        name: flintlock-binaries
        path: bin/*
        retention-days: 1
  release:
    runs-on: ubuntu-latest
    needs: [build]
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: Download flintlock binaries
      uses: actions/download-artifact@v2
      with:
        name: flintlock-binaries
        path: bin
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        prerelease: false
        draft: true
        fail_on_unmatched_files: true
        generate_release_notes: true
        files: |
          bin/flintlockd_amd64
          bin/flintlockd_arm64
          bin/flintlock-metrics_amd64
          bin/flintlock-metrics_arm64
