name: Mark stale issues and pull requests

on:
  schedule:
    - cron: "15 7 * * *"

jobs:
  stale:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@997185467fa4f803885201cee163a9f38240193d # v10.1.1
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          days-before-issue-stale: 180
          days-before-pr-stale: 60
          days-before-issue-close: -1
          days-before-pr-close: -1
          stale-issue-message: "This issue is stale because it has been open 180 days with no activity."
          stale-issue-label: "lifecycle/stale"
          stale-pr-message: "This PR is stale because it has been open 60 days with no activity."
          stale-pr-label: "lifecycle/stale"
          close-issue-label: "lifecycle/rotten"
          exempt-issue-labels: "lifecycle/frozen"
          exempt-pr-labels: "lifecycle/frozen"
