name: Test docs build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build docusaurus
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          fetch-depth: 0
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: 'userdocs/yarn.lock'
      - name: Install dependencies
        working-directory: ./userdocs
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: ./userdocs
        run: yarn build