name: run tests

on: [pull_request, workflow_dispatch]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: yitsushi/devmapper-containerd-action@v1.0.1
      - uses: actions/checkout@v2
      - uses: actions/setup-go@v2
        with:
          go-version: '1.17'
      - name: Build
        run: make build
      - name: Build e2e
        run: make compile-e2e
      - name: Test with coverage
        run: |
          export CTR_SOCK_PATH=/var/run/containerd/containerd.sock
          make test-with-cov
        env:
          CTR_SOCK_PATH: /run/containerd/containerd.sock
      - name: Upload coverage to Codecov
        run: bash <(curl -s https://codecov.io/bash)
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
