name: Test docs build

on:
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build docusaurus
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 22
          cache: yarn
          cache-dependency-path: 'userdocs/yarn.lock'
      - name: Install dependencies
        working-directory: ./userdocs
        run: yarn install --frozen-lockfile
      - name: Build website
        working-directory: ./userdocs
        run: yarn build