name: run tests

on: [pull_request, workflow_dispatch, push]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: yitsushi/devmapper-containerd-action@bfb86f4fe3121aeb8a1b06601b3f07d064665204 # v1.0.1
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version-file: "${{ github.workspace }}/go.mod"
          check-latest: true
          cache: false
      - name: Build
        run: make build
      - name: Build e2e
        run: make compile-e2e
      - name: Test with coverage
        run: |
          export CTR_SOCK_PATH=/var/run/containerd/containerd.sock
          make test-with-cov
        env:
          CTR_SOCK_PATH: /run/containerd/containerd.sock
      # - name: Upload coverage to Codecov
      #   run: bash <(curl -s https://codecov.io/bash)
      #   env:
      #     CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
